{{!-- <div class= "container image-container">
<div class="row valign wrapper">
    <div class="col s12 offset-s6 m10 valign">
      <div class="card">
          <div class="card-content valign center">
          <h5 class= "image-text">Stay up to date with the most recent events in your area!</h5>
        </div>
        <div class="card-image">
          <img src="/assets/funparty2.jpg">
          <span class="card-title"></span>
        </div>  
      </div>
    </div>
  </div>
 </div>  --}}

 <div class="container">
  <img src="/assets/funparty2.jpg" alt="Snow" style="width:100%;">
  <div class="centered">
      <div class="row valign wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card deep-purple darken-3">
        <div class="card-content white-text">
          <span class="card-title"><h5>Create a New Event Below!</h5></span>
          <h6>Events R Us is a new and easy way to stay informed about events in your area. Whether you want to attend a protest or a sewing club, Events R Us will find something for you!</h6>
        </div>
        <div class="card-action">
          <a href="/eventCreate">Create Event</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>