<div class= "container">
<div class="row valign wrapper">
    <div class="col s12 offset-s6 m10 valign">
      <div class="card">
          <div class="card-content valign center">
          <h5>Stay up to date with the most recent events in your area!</h5>
        </div>
        <div class="card-image">
          <img src="/assets/funparty2.jpg">
          <span class="card-title"></span>
        </div>  
      </div>
    </div>
  </div>
 </div> 