<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events R US</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <header>
    <h1>Welcome to EventsRUs</h1>
  </header>
  
  <main>
      {{{body}}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>