


  <div>
    {{> dashboard-card}}
  </div>

    <div class= "valign center">
      <h2>Featured Events</h2>
      </div>
      <section>


    {{#each events as |event|}}
      {{> eventCreate event}}
    {{/each}}
    </section>
  
  