{{> event-info event}}

{{#if loggedIn}}

<div class="col s12 m7">
    <h2 class="event-header">Event Title</h2>
    <div class="card horizontal">
      <div class="card-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>User and Organizer</p>
        </div>
      </div>
    </div>
</div>
          
{{/if}}

{{#if loggedIn}}
<script src="/js/events.js"></script>
{{/if}}
