{{!-- <div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
   <a href="/profileCreate">Create Profile</a>
   </div>

<script src="./js/login.js"></script> --}}

<div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card deep-purple lighten-5">
        <div class="card-content black-text">
          <span class="card-title valign center">Login</span>
          {{!-- email --}}
          <div class="row">
          <form class="col s12" id="login-form">
            <div class="row">
              <div class="input-field col s12">
                <input  id="email-login" type="text" class="validate">
                <label for="email-login">Email</label>
                </div>
                </div>
                {{!-- password --}}
                <div class="row">
                <div class="input-field col s12">
                  <input id="password-login" type="password" class="validate">
                  <label for="password-login">Password</label>
                </div>
              </div>
              {{!-- button --}}
              <div class="form-group valign center">
                <button class="btn btn-primary deep-purple darken-3" type="submit">login</button>
              </div>

                </div>
                </div>
            </form>
          </div>
          <div class= "valign center">
            <a href="/profileCreate">Create Profile</a>
          </div>
        
        </div>
      </div>
    </div>
  </div>

  <script src="./js/login.js"></script>