<div>
    {{> profile-card}}
  </div>

    <div class= "valign center">
      <h2>My Events</h2>
      </div>
      <section class="valign center">


    {{#each events as |event|}}
      {{> my-events event}}
    {{/each}}
    </section>
  
  