 <div class="container">
  <img src="/assets/paigecomedy.jpg" alt="Snow" style="width:100%;">
  <div class="profile">
      <div class="row valign wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card deep-purple darken-3">
        <div class="card-content white-text">
          <span class="card-title"><h5>I'm Paige!</h5></span>
          <h6>I am an aspiring stand up comedian in the NYC area looking for open mic nights</h6>
          <div>
            
          </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>
  </div>

    <div class= "valign center">
      <h2>My Events</h2>
      </div>
      <section class="valign center">


    {{#each events as |event|}}
      {{> my-events event}}
    {{/each}}
    </section>
  
  