 <div class="container">
  <img src="/assets/funparty2.jpg" alt="Snow" style="width:100%;">
  <div class="centered">
      <div class="row valign wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card deep-purple darken-3">
        <div class="card-content white-text">
          <span class="card-title"><h5>My Profile</h5></span>
          <div>
            <form action=""></form>
          </div>
        </div>
        <div class="card-action">
          <a href="/profileCreate"> </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

  <script src="./controllers/home-routes.js"></script>



  